table
{
	border:1px solid #e8e8e8;
	border-bottom:none;
	margin:10px 0;
}

table th {
	background:#f8f8f8;
	border-bottom:1px solid #e8e8e8;
	padding: 7px 10px;
	text-shadow: #efefef 1px 1px 0px;
}
table th .right {
	float: right;
	font-weight: normal;
}
table th.id-col {
	text-align: center;
}
table td {
	border-bottom: 1px solid #e8e8e8;
	padding: 5px 10px;
}

table tr:nth-child(even) td {
	background:#f8f8f8;
}

table td.lbl-col {
	width: 12%;
}
table td.val-col {
	width: 38%;
}
table tr.alt td {
	background-color: #efefef;
}
table.green th {
	background: #cfefa7 url(/images/grid_header_back_green.png) top left repeat-x;
	border-left: 1px solid #E4FDB4;
	border-top: 1px solid #E4FDB4;
	border-right: 1px solid #B7CB90;
	border-bottom: 1px solid #B7CB90;
}
table.green td {
	background-color: #efe;
}
table.order-summary {
	clear: both;
}
table.order-summary tr.totals th {
	background: transparent;
	text-align: right;
	border: none;
}
table td.actions {
	text-align: right;
}
