<%= render :partial => 'admin/shared/configuration_menu' %>

<% page_title( t("new_taxonomy") )%>

<%= form_for(:taxon, :url => collection_url) do |f| %>

	<%= render :partial => "form", :locals => { :f => f } %>

	<p class="form-buttons">
	  <%= button t("create") %>
  </p>
<% end %>
