.centered-div {
  margin: 0 auto;
  width: 960px;
}
.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.button {
  background: -moz-linear-gradient(100% 100% 90deg, #d5732b, #b64119);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5732b), to(#b64119));
  border: 1px solid #cc6124;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  padding: 7px;
  text-shadow: 1px 1px 1px #5a1e0c;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 1.1em;
  margin: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
}
